<!DOCTYPE html>
<html style="height:100%;">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/elementUI/css")
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
</head>
<body style="height:100%;">
    @RenderBody()
    @Scripts.Render("~/bundles/staticJS")
    <script src="~/Content/js/axios-custom.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
